# OpenAI API Key - https://platform.openai.com/overview
OPENAI_API_KEY=

# change this to an `accessToken` extracted from the ChatGPT site's `https://chat.openai.com/api/auth/session` response
#OPENAI_ACCESS_TOKEN=

# OpenAI API Base URL - https://api.openai.com
#OPENAI_API_BASE_URL=

# OpenAI API Model - https://platform.openai.com/docs/models
#OPENAI_API_MODEL=

# Reverse Proxy
#API_REVERSE_PROXY=

# timeout；TIMEOUT_MS = 0 不设超时
TIMEOUT_MS=100000

#VITE_APP_API_BASE_URL=

# Whether long replies are supported, which may result in higher API fees
VITE_GLOB_OPEN_LONG_REPLY=false

# 设置 AUTH_SECRET_KEY 变量添加你的密码访问权限
AUTH_SECRET_KEY=

# Socks Proxy Host
SOCKS_PROXY_HOST=

# Socks Proxy Port
SOCKS_PROXY_PORT=
